<ion-header>

  <ion-navbar>
    <ion-title>WIZARD</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #EEEEEE" class="card-background-page">
  <ion-stepper #stepper [mode]="mode" (selectIndexChange)="selectChange($event)" padding>

    <ion-step label="Step1" description="Step1 description">
      <h2 text-center text-align: center padding>{{ 'Wizard.FirstStepDescription' | translate }}</h2>
      <ul class="flex-container" padding>
        <submitter-card *ngFor="let submitterCardItem of submitterCard_items" [submitterCardItems]="submitterCardItem" (click)="selectedCard(submitterCardItem.$id)"></submitter-card>
      </ul>
    </ion-step>

    <ion-step label="Step2" description="Step2 description">
      <settings-ixn [settingsIxnitems]="settingsIxnitems" ></settings-ixn>
      <button ion-button small ionicStepperPrevious>Previous</button>
      <button ion-button small *ngIf="ixnComponent !== undefined" ionicStepperNext type="submit" [disabled]="!ixnComponent.isValid()">Next</button>
    </ion-step>

    <ion-step [icon]="icon" label="Confirm" description="Step2 description">
      <h2 text-center text-align: center padding>{{ 'Wizard.ThirdStepDescription' | translate }}</h2>
      <ul class="flex-container" padding>
        <submitter-card *ngIf="cardItemSummary !== undefined"  [submitterCardItems]="cardItemSummary"></submitter-card>
      </ul>
      <settings-ixn *ngIf="settingsIxnitems2 !== undefined"[settingsIxnitems]="settingsIxnitems2"></settings-ixn>
      <button ion-button small ionicStepperPrevious>Previous</button>
    </ion-step>
  </ion-stepper>
</ion-content>